@using AdyralTruck.Model.Furnizor;
@model FurnizorUpdateViewModel

<style>
    .errormsg {
        color: red;
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        font-weight: bold;
    }
</style>

@{
    ViewData["Title"] = "Furnizor Nou";
    var list = ViewData["listaEmailuri"];
    var emailExists = ViewData["EmailExists"];
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">Completati toate campurile de mai jos marcate cu <strong style="color: red;">*</strong></p>

@if (emailExists != null && emailExists is string)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Aceasta adresa de e-mail este deja folosita pentru un alt furnizor. Va rugam introduceti alta adresa de e-mail.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@using (Html.BeginForm("AdaugaFurnizor", "Home", FormMethod.Post))
{
    <div class="formular-furnizor">
        <div class="row">
            <div class="col-sm">

                <div class="form-group">
                    @Html.LabelFor(m => m.Nume, "Nume *")
                    @Html.TextBoxFor(m => m.Nume, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                    @Html.ValidationMessageFor(m => m.Nume, "", new { @class = "errormsg" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NrRegistruComert, "Nr. Reg. Comert *")
                    @Html.TextBoxFor(m => m.NrRegistruComert, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                    @Html.ValidationMessageFor(m => m.NrRegistruComert, "", new { @class = "errormsg" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "Email *")
                    @Html.TextBoxFor(m => m.Email, "",
                            new { style = "width: 100%;", type = "email", @class="form-control" ,
                            @onkeyup = "onchangeevent();", @id="emailBox"
                            })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "errormsg" })
                    <span id="emailSpan" style="color:red;"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PersoanaContact, "Persoana Contact")
                    @Html.TextBoxFor(m => m.PersoanaContact, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AdresaCorespondenta, "Adresa *")
                    @Html.TextAreaFor(m => m.AdresaCorespondenta, htmlAttributes: new { @style = "width: 100%;", rows = 3, @class="form-control" })
                    @Html.ValidationMessageFor(m => m.AdresaCorespondenta, "", new { @class = "errormsg" })
                </div>
            </div>

            <div class="col-sm">
                <div class="form-group">
                    @Html.LabelFor(m => m.CIF, "CIF *")
                    @Html.TextBoxFor(m => m.CIF, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                    @Html.ValidationMessageFor(m => m.CIF, "", new { @class = "errormsg" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumeBanca, "Banca *")
                    @Html.TextBoxFor(m => m.NumeBanca, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                    @Html.ValidationMessageFor(m => m.NumeBanca, "", new { @class = "errormsg" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ContBancar, "Cont Bancar *")
                    @Html.TextBoxFor(m => m.ContBancar, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                    @Html.ValidationMessageFor(m => m.ContBancar, "", new { @class = "errormsg" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumarTelefon, "Nr. Telefon")
                    @Html.TextBoxFor(m => m.NumarTelefon, htmlAttributes: new { @style = "width: 100%;", @class="form-control" })
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm">
                <input id="saveButton" type="submit" style="margin-top: 50px;" class="btn btn-primary btn-success center-block" value="Salveaza" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

        });

        function onchangeevent() {
            if(movies && movies.length){
                var val = $('#emailBox').val();

                if(!val){

                    $("#emailSpan").html('');

                    return;
                }

                var emailuriExistente = movies.filter(movie => movie.includes(val));

                if(emailuriExistente && emailuriExistente.length){
                    $("#emailSpan").html(`Emailuri deja existente in sistem: `);
                    emailuriExistente.map(item => $("#emailSpan").append(`<li>${item}</li>`));
                } else {
                    $("#emailSpan").html('');
                }
            }
        }

        var movies = @Html.Raw(Json.Serialize(list));
        console.log(movies);
    </script>
}


